.p-dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .table-container {
    padding: 1rem;
    border-radius: 10px;
    background: var(--white);
    h2 {
      margin-block-end: 20px;
    }
    .ant-table-wrapper {
      overflow-x: auto;
    }
  }

  .ant-card {
    padding: 0;
    border-radius: 20px !important;
  }

  .ant-card-body {
    padding: 1rem 0.8rem;
    border-radius: 20px !important;
  }

  .c-card {
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;

    &__text-area {
      display: flex;
      flex-direction: column;

      h6 {
        font-size: 0.8rem;
        color: var(--grey);
      }

      .success,
      .danger {
        font-size: 0.8rem;
        margin-inline-start: 5px;
        font-weight: 600;
      }

      .success {
        color: var(--success);
      }
      .danger {
        color: var(--danger);
      }
    }

    .ant-avatar {
      background: var(--primary);
    }
  }
}
