.c-header {
  height: auto;
  background: var(--base);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

  @media only screen and (min-width: 500px) {
    align-items: center;
    flex-direction: row;
  }

  &__title-area {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    line-height: 25px;
    h3 {
      display: inline-flex;
      margin: 0 !important;
      padding: 0;
    }
  }

  &__profile-area {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    .search {
      --search-border-radius: 5px;
      border: 1px solid var(--grey);
      border-radius: var(--search-border-radius);
      .ant-input-wrapper {
        border-radius: var(--search-border-radius);
        .ant-input-group-addon {
          border-radius: var(--search-border-radius) 0 0
            var(--search-border-radius);
          background: var(--white);
          border-color: var(--white);
        }
        input {
          border-color: var(--white);
          border-radius: 0 var(--search-border-radius)
            var(--search-border-radius) 0;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    .sign-avatar {
      background: var(--black);
      color: var(--white);
    }

    .ant-badge-count {
      transform: translate(27%, -23%);
    }

    .bell-avatar {
      background: transparent;
      color: var(--black);
    }
  }
}
