.c-menu {
  background: transparent;
  border: none !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;

  .ant-menu-item {
    padding: 25px 10px !important;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: none !important;

    &:hover,
    &.ant-menu-item-selected {
      background: var(--white) !important;
      box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.144);
      color: var(--black);

      .anticon {
        background: var(--primary);
        color: var(--white);
      }
    }

    .anticon {
      transition: none !important;
      background: var(--white);
      padding: 0.5rem;
      border-radius: 5px;
    }
  }
}
