.c-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  background: var(--base);
  z-index: 9999;
  position: absolute;
  height: 100%;

  @media only screen and (min-width: 769px) {
    position: relative;
    box-shadow: none;
  }

  .ant-layout-sider-zero-width-trigger {
    display: none;
  }

  &__container {
    padding-block-start: 1rem;
    position: sticky;
    top: 0;
  }

  &__title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 2rem;
    margin-inline: 1rem;
    h1 {
      color: var(--black);
    }
    .collapsed-button {
      color: var(--danger);

      @media only screen and (min-width: 769px) {
        display: none;
      }
    }
  }

  .ant-menu {
    background: transparent;
    border-inline-end: none !important;
    overflow: auto;
    height: 100%;
    .ant-menu-item {
      text-align: start;

      &:hover {
        background: var(--white) !important;
        box-shadow: 0 20px 27px rgb(0 0 0 / 5%);
        .anticon {
          background: var(--primary);
          color: var(--white);
        }
      }

      &.ant-menu-item-selected {
        box-shadow: 0 20px 27px rgb(0 0 0 / 5%);

        background: var(--white) !important;
        color: var(--black);
        font-weight: 500;
        .anticon {
          background: var(--primary);
          color: var(--white);
        }
      }

      .anticon {
        background: var(--white);
        padding: 0.5rem;
        border-radius: 5px;
      }
    }
  }
}
