.c-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-block-start: 1rem;
  background: var(--base);
  z-index: 9999;
  position: absolute;
  height: 100%;

  @media only screen and (min-width: 500px) {
    position: relative;
  }

  &__title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 2rem;
    margin-inline-start: 1rem;
    h1 {
      color: var(--black);
    }
    .collapsed-icon {
      color: var(--danger);
    }
  }

  .ant-menu {
    background: transparent;
    border-inline-end: none !important;

    .ant-menu-item {
      text-align: start;
      &:hover {
        background: var(--white) !important;

        .anticon {
          background: var(--primary);
          color: var(--white);
        }
      }

      &.ant-menu-item-selected {
        background: var(--white) !important;
        color: var(--black);
        font-weight: 500;
        .anticon {
          background: var(--primary);
          color: var(--white);
        }
      }

      .anticon {
        background: var(--white);
        padding: 0.5rem;
        border-radius: 5px;
      }
    }
  }
}
